html {
    height: 100%;
}
body {
    background-image: url("../images/pipes/pipes.png");
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*Name in teal */
header {
    font-family: 'Georgia','Times New Roman', Times, serif;
    width: 960px;
    margin: auto;
    color: #ffffff;
    overflow: auto;
}

#headercontainer {
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
    
}

.myname {
    float: left;
    background-color: #4aaaa5;
    width: 200px;
    height: 72px;
    text-align: center;
    font-size: 35px;

}

.myname > div {
    vertical-align: middle;
    display: table-cell;
    height: inherit;
    width: inherit;
}
/*--------*/


/*Navigation and header links */
.nav {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    float: right;
    font-size: 15px;
    padding: 15px;
    float: right;
    
}   


a:link, a.nav-item:link {
    text-decoration: none;
}
a.nav-item:visited {
    color: #666666;
    text-decoration: none;

}
a:visited {
    color: #666666;
    text-decoration: none;
}
a:hover, a.nav-link:hover {
    color: #666666;
    text-decoration: none;
}
a:active, a.nav-link:active {
    color: #666666;

}


/*------*/

/* Bio */
#maincontentcontainer, #maincontainer {
    margin-top: 35px;
    flex: 1;

}

#maincontent {
    color: #777777;
    background-color: #ffffff;
    font-family: 'Georgia','Times New Roman', Times, serif;
    width: 960px;
    font-size: 15px;
    margin: auto;
    overflow: auto;
    clear: both;
    margin-bottom: 35px;

}


#maincontent h1 {
    color: #4aaaa5;
    font-family: 'Georgia','Times New Roman', Times, serif;
    font-size: 35px;
    padding-left: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 0;
    
}

#maincontent hr {
    margin: 0;
}


#aboutme {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 6px;
    margin-right: 30px;
    margin-top: 20px;

    
}

ul {
    list-style-type: circle;
    margin-left: 450px;
}
img {
    width: 310px;
    padding: 25px;
    height: 210px;

}
img#profilepic {
    width: 310px;
    height: 400px;
    float: left;

}

/*-- Footer-----*/

#footercontainer {
    border-top: 7px solid #4aaaa5; 
    background-color: #666666;
    height: 45px;
    position: relative;
    clear: both;

}

#footer {
    text-align: center;   
    width: 960px;
    margin: auto;
    color: #ffffff;
    font-size: 10px;
    margin-top: -10px;
    height: inherit;
}

#footer div {
    height: inherit;
    width: inherit;
    vertical-align: bottom;
    display: table-cell;
    padding: 20px;
}

/*Contact Form */



.form-group, .form-group.form-check {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 1rem;
    padding-left: 0.25rem;

    

}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-top: 15px;
}



.form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        transition: border-color .15s;
        
    
}

button, .btn.btn-primary {
    color: #fff;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    margin-left: 16px;
    margin-bottom: 15px;
}

/* Portfolio Overlay and Underlay */

.underlay { 
    position: relative;
    margin-bottom: 100px;
}
/*
img {
    width: 310px;
    padding: 10px;
}
*/
.overlaytravel {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    left: 338px;
    right: 362px;
    bottom: 24px;
    text-align: center;
}

.overlayfilm {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    left: 25px;
    right: 675px;
    bottom: 24px;
    text-align: center; 
            
    
}

.overlaymuseum {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    left: 652px;
    right: 48px;
    bottom: 24px;
    text-align: center;
}